body {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Cairo", sans-serif;
  font-family: "Crimson Text", serif;
  font-family: "Source Code Pro", monospace;
}
h1 {
  color: white;
}
h2 {
  color: dodgerblue;
}
.container {
  /* font-family: Monospace;
  font-size: large; */
  display: grid;
  height: 100vh;
  grid-template-rows: 10% 90%;
  grid-template-columns: 15% 85%;
  grid-template-areas:
    "header header"
    "side_nav content";
}
header {
  display: grid;
  grid-area: header;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "company_name  company_name  company_name header_icons header_icons";
}
.side_nav {
  display: grid;
  grid-area: side_nav;
  margin: 20px;
  background-color: antiquewhite;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas: "cl" "fl" "ad" "cp" "sr" "tp";
  justify-items: center;
  /* align-items: center; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  grid-gap: 30px;
}

.content {
  margin: 20px;
  grid-area: content;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "welcome welcome welcome welcome welcome "
    "job job job  job job "
    "client client client  client client "
    "agent agent agent  agent agent "
    "bookings bookings bookings empty empty";
  grid-gap: 20px;
}
.welcome {
  grid-area: welcome;
}
.job_details {
  color: white;
  display: grid;
  grid-area: job;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}
.client_details {
  display: grid;
  grid-area: client;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "client_count client_count client_count client_bar client_bar"
    "client_count client_count client_count client_bar client_bar";
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  grid-gap: 30px;
}

.agents {
  display: grid;
  grid-area: agent;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "agents_count agents_count agents_count active active"
    "agents_count agents_count agents_count active active";
  grid-gap: 30px;
}
.bookings {
  grid-area: bookings;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "booking_logo booking_details booking_details booking_details booking_details ";
  grid-gap: 20px;
  align-items: center;
  border: 10px whitesmoke solid;

  /* padding: 40px; */
}
.booking_logo {
  grid-area: booking_logo;
  padding-left: 100px;
  padding-top: 20px;
}
.booking_details {
  grid-area: booking_details;
}

/* agents grid */

.agents_count {
  display: grid;
  grid-area: agents_count;

  border: 3px whitesmoke solid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "aggr aggr aggr"
    "total_agents approved_agents working_agents";
  grid-gap: 15px;
  padding: 30px;
}
.agent_active {
  display: grid;
  grid-area: active;
  /* background-color: red; */

  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "active_statusa active_statusb";
  grid-gap: 10px;
}
/* clients grid */
.client_count {
  display: grid;
  grid-area: client_count;
  border: 10px whitesmoke solid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "total_client total_clients"
    "active_clients new_clients";
}
.client_bar {
  display: grid;
  grid-area: client_bar;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "increment decrement";
  grid-gap: 10px;
}
/* job_details tiles */
.total_jobs {
  display: grid;
  padding: 30px;
  padding-left: 90px;
  line-height: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(90deg, #f82323, 40%, rgb(233, 155, 168) 100%);
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
}
.freelance {
  display: grid;
  padding: 30px;
  padding-left: 90px;
  line-height: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(90deg, rgb(170, 82, 180) 40%, #7a1839 100%);
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
}
.total_job_client {
  display: grid;
  padding: 30px;
  padding-left: 90px;
  line-height: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(
    90deg,
    rgb(133, 223, 217) 40%,
    rgb(13, 100, 96) 100%
  );
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;

  background-color: lightseagreen;
}
.job_icon {
  opacity: 0.1;
}
/* .freelance_icon {
  opacity: 0.2;
  color: #7a1839;
} */
/* client_count tiles */
.total_client {
  display: grid;
  grid-area: total_client;
  padding: 30px;
  background-color: rgb(39, 133, 170);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border: 3px whitesmoke solid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.total_clients {
  grid-area: total_clients;
  padding: 30px;
  padding-left: 90px;
  line-height: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border: 3px whitesmoke solid;
}

.active_clients {
  grid-area: active_clients;
  padding: 30px;
  padding-left: 90px;
  line-height: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border: 3px whitesmoke solid;
}
.new_clients {
  grid-area: new_clients;
  padding: 30px;
  padding-left: 90px;
  line-height: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border: 3px whitesmoke solid;
}
/* increment and decrement tiles */
.increment {
  grid-area: increment;
  border: 3px whitesmoke solid;
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: orange;
}
.decrement {
  grid-area: decrement;
  border: 3px whitesmoke solid;
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: darkturquoise;
}
/* agent_count tiles */
.sum_agent {
  grid-area: aggr;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: blueviolet;
}
.total_agents {
  grid-area: total_agents;
  padding: 30px;
  line-height: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border: 3px whitesmoke solid;
}
.approved_agents {
  border: 3px whitesmoke solid;
  padding: 30px;
  line-height: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  grid-area: approved_agents;
}
.working_agents {
  border: 3px whitesmoke solid;
  padding: 30px;
  line-height: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  grid-area: working_agents;
}

.active_statusa {
  
  border: 3px whitesmoke solid;
  grid-area: active_statusa;
padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: orange;
  /* grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "option1 option1 option1 option1"
    "option2 option3 option3 option3"
    "option2 option3 option3 option3"
    "option2 option3 option3 option3";*/
  
}
.option1 {
  display-area: option1;
  display: inline-block;
  /* padding: 10px; */
}
/* .option2 {
  display: grid;
  display-area: option2;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  /* display: inline-block; */
  /* padding: 10px; */
} */
.option3 {
  display-area: option3;
  /* display: inline-block; */
  padding: 10px;
}
.active_statusb {
  border: 3px whitesmoke solid;
  grid-area: active_statusb;
  background-color: lightskyblue;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
#danger {
  color: red;
}
.black_color {
  color: black;
}
.font_style1 {
  padding-left: 30px;
}
.font_style2 {
  padding-left: 10px;
}
.header_icons_shadow {
  padding-top: 15px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
  /* background-color: #7a1839; */
  /* border: 1px solid grey; */
}
.cl {
  /* padding-left: 60px; */
  grid-area: cl;
}
.fl {
  grid-area: fl;
}
.ad {
  grid-area: ad;
}
.cp {
  grid-area: cp;
}
.sr {
  grid-area: sr;
}
.tp {
  align-items: center;
  grid-area: tp;
}
.company_name {
  grid-area: company_name;
}
.header_icons {
  display: grid;
  grid-area: header_icons;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 10px;
}
.company_name {
  grid-area: company_name;
  padding-left: 20px;
}
.search_here {
  grid-area: 1/1 / span 1 / span 3;
}
.user_name {
  grid-area: 1/8 / span 1 / span 3;
}
/* .user_dp {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  
} */
.dp_cropper {
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.dp {
  display: inline;
  margin: 0 auto;
  /* margin-left: %; */
  height: 100%;
  width: auto;
}
.client_bar_logo {
  padding-left: 20px;
  width: 130px;
  height: 130px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.blue_bar {
  display: inline;
  margin: 0 auto;
  /* margin-left: %; */
  height: 100%;
  width: auto;
}

/* .fas fa {
  background-color: #7a1839;
} */
