.container {
  display: grid;
  height: 100vh;
  grid-template-rows: 10% 90%;
  grid-template-columns: 10% 90%;
  grid-template-areas:
    "header header"
    "side_nav content";
}
header {
  grid-area: header;
  background-color: #58ad5c;
  border: 10px red solid;
}
.side_nav {
  grid-area: side_nav;
  background-color: antiquewhite;
  border: 10px pink solid;
}
.content {
  grid-area: content;
  display: grid;
  border: 10px solid blue;
  background-color: grey;
  grid-template-rows: repeat(15, 1fr);
  grid-template-columns: repeat(20, 1fr);
}
.welcome {
  /* display: grid; */
  border: 10px green solid;
  grid-area: 1/ 1 / span 2 / span 20;
  background-color: yellow;
}
.job_details {
  display: grid;
  border: 10px black solid;
  grid-area: 4/ 1 / span 4 / span 20;
  background-color: blueviolet;
  grid-template-columns: repeat(3, 1fr);

  /* grid-template-areas: "total freelance jobs"; */
}
.jobs {
  border: 10px green solid;
  background-color: whitesmoke;
}
.client_details {
  display: grid;
  border: 10px red solid;
  grid-area: 10/ 1 / span 3 / span 20;
  background-color: green;
  grid-template-columns: repeat(4, 1fr);
}
.client {
  border: 10px solid blue;
  background-color: whitesmoke;
}
