header {
  background-color: #ffa500;
  text-align: center;
  height: 50px;
}
main {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 10% 90%;

  margin-top: 10px;
}
.side_nav {
  height: 500px;
  width: 100%;

  border: 5px black solid;
  background-color: green;
}
.content {
  display: grid;
  /* height: 100%;
  width: 100%; */

  border: 5px black solid;
  background-color: grey;
  grid-template: repeat(15, 1fr) / repeat(10, 1fr);
}
.welcome {
  /* height: 100px;
  width: 100%; */
  grid-area: 1/ 1 / span 2 / span 10;
  background-color: yellow;
}
.total_jobs {
  grid-area: 1/ 1 / span 3 / span 3;
  background-color: blueviolet;
}
