/* .container {
  display: grid;
} */
header {
  background-color: #ffa500;
  text-align: center;
  height: 50px;
}
main {
  display: grid;
  grid-template: repeat(15, 1fr) / repeat(20, 1fr);
  margin-top: 20px;
}
.side_nav {
  grid-area: 1/ 1 / span 10 / span 3;

  border: 5px black solid;
  background-color: green;
}
.content {
  display: grid;
  grid-area: 1/ 5 / span 15 / span 14;
  border: 5px red solid;

  background-color: grey;
}
.welcome {
  display: grid;
  border: 10px green solid;
  grid-area: 1/ 1 / span 2 / span 20;
  /* welcome class is spreading throught the grid but row size given is 2 only (see green border and yellow color)*/
  background-color: yellow;
}
.job_details {
  display: grid;
  border: 5px black solid;
  grid-area: 5/ 5 / span 4 / span 8;
  background-color: blueviolet;
}
.jobs {
  border: 10px red solid;
  grid-area: 5/ 5 / span 4 / span 2;
  background-color: whitesmoke;
}
.client_details {
  display: grid;
  border: 5px black solid;
  grid-area: 10/ 5 / span 3 / span 10;
  background-color: green;
}
.client {
  border: 10px solid saddlebrown;
  grid-area: 10/ 5 / span 3 / span 2;
  background-color: whitesmoke;
}
